.modelPopupBG {
  width: 100%;
  height: 100vh;
  background-color: #ffffff9c;
  position: absolute;
  top: 0px;
  left: 0px;

  filter: blur(8px);
}

.modelFormCard {
  border: 2px solid black;
  border-radius: 5%;
  width: 30%;
  height: 80%;
  background-color: white;
}
.model_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foom {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalpop_top{
    
    background-color: #00ffff8c;
    display: flex;
    padding: 10px 10px;
    gap: 228px;
    border-radius: 22px 22px 0px 0px;
}
.close_btn{
    color: white;
    background-color: rgba(255, 0, 0, 0.541);
}
.modalpop_top_heading{
    color: black;
}